<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/head :: header ('Rebalancing Result - Asset Class')}">
</head>

<body>
<!--/*@thymesVar id="investment_account" type="com.example.investmentportfoliorebalancingtool.domain.InvestmentAccount"*/-->
<!--/*@thymesVar id="rebalancing_template" type="com.example.investmentportfoliorebalancingtool.domain.RebalanceConfigTemplate"*/-->
<!--/*@thymesVar id="account_assets_class_allocation_map" type="java.util.Map"*/-->
<!--/*@thymesVar id="template_asset_class_allocation_map" type="java.util.Map"*/-->

<header class="border-bottom shadow">
    <nav th:replace="~{fragments/navigation :: navLayout ('dashboard')}"></nav>
</header>

<div class="sidebar" th:replace="~{fragments/sidebar :: sidebar}"></div>

<div id="main" class="container-fluid">
    <div class="row">
        <div class="col min-vh-100 p-4" style="margin-top: 70px">
            <div th:replace="~{fragments/sidebar_button :: sidebar-button}"></div>

            <div class="card card-primary border-3 border-dark mb-3">

                <div class="card-header bg-secondary text-light m-3">
                    <h6 class="card-title">Tabular Summarization</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Investment Account: </th>
                                <th colspan="4" th:text="${investment_account.accountNumber} +
                                ' ($' + ${investment_account.accountValue} + ')'"
                                    style="font-style: italic;">>
                                    AC123456 ($0.00)
                                </th>
                            </tr>
                            <tr>
                                <th>Rebalancing Template:</th>
                                <th colspan="4" th:text="${rebalancing_template.name}"
                                    style="font-weight: normal;font-style: italic;">
                                    Default Template
                                </th>
                            </tr>
                            <tr style="height: 75px; vertical-align: bottom;">
                                <th>Asset Class</th>
                                <th>Account Allocation (%)</th>
                                <th>Template Allocation (%)</th>
                                <th>Difference (%)</th>
                                <th>Summary</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>Equity</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>Over weight By 0% ($0)</td>
                            </tr>
                            <tr th:each="asset_class : ${T(com.example.investmentportfoliorebalancingtool.domain.AssetClass).values()}"
                                th:with="difference = ${account_assets_class_allocation_map.get(asset_class) -
                                template_asset_class_allocation_map.get(asset_class)}" th:if="${asset_class.label} != 'Unknown'">

                                <td th:text="${asset_class.label}">Equity</td>
                                <td th:text="${account_assets_class_allocation_map.get(asset_class)}">0</td>
                                <td th:text="${#numbers.formatDecimal(template_asset_class_allocation_map.get(asset_class),1 ,2)}">0</td>
                                <td th:text="${difference}">0</td>
                                <td th:if="${difference} > 0"
                                    th:text="'Over weight by  ' + ${difference} + '% ($' +
                                     ${#numbers.formatDecimal((difference * investment_account.accountValue)/100, 1, 2)} + ')'"
                                    style="font-style: italic">
                                    Over weight by 0% (0)
                                </td>

                                <td th:if="${difference} == 0"
                                    th:text="'Equal weight'"
                                    style="font-style: italic">
                                    Equal weight
                                </td>

                                <td th:if="${difference} < 0"
                                    th:text="'Under weight by ' + ${difference} + '% ($' +
                                     ${#numbers.formatDecimal((difference * investment_account.accountValue)/100, 1, 2)} + ')'"
                                    style="font-style: italic">
                                    Under weight by 0% (0)
                                </td>
                            </tr>

                            <tr th:with="unknown = ${T(com.example.investmentportfoliorebalancingtool.domain.AssetClass).UNKNOWN},
                                difference = ${#numbers.formatDecimal(
                                account_assets_class_allocation_map.get(unknown) -
                                template_asset_class_allocation_map.get(unknown), 1, 2)}"
                                style="font-weight: bold; font-style: italic; height: 50px; vertical-align: bottom;">
                                <td th:text="Unknown">Unknown</td>
                                <td th:text="${account_assets_class_allocation_map.get(unknown)}">0</td>
                                <td th:text="${#numbers.formatDecimal(template_asset_class_allocation_map.get(unknown),1 ,2)}">0</td>
                                <td th:text="${difference}">0</td>
                                <td th:text="'Not Applicable'">
                                    Not Applicable
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card card-primary border-3 border-dark">

                <div class="card-header bg-secondary text-light mt-3 ms-3 me-3">
                    <h6 class="card-title">Graphical Summarization</h6>
                </div>
                <div class="card-body pt-0 pb-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="text-align: center; height: 60px; vertical-align: top; margin-top: 0;">
                                    Comparison Between Actual and Target Account Allocation (based on Asset Class)
                                </th>
                            </tr>
                            </thead>
                            <tr>
                                <td>
                                    <div class="chart-container"
                                         style="position: relative; height:55vh; width:70vw; margin:auto; padding-bottom: 0">
                                        <canvas id="asset_class_chart"></canvas>
                                    </div>
                                    <script th:inline="javascript">
                                        const ctx = document.getElementById('asset_class_chart').getContext('2d');
                                        const account_data = [[${account_assets_class_allocation_map}]];
                                        const template_data = [[${template_asset_class_allocation_map}]];

                                        const legendMargin = {
                                            id: 'legendMargin',
                                            beforeInit(chart, legend, options) {
                                                const fitValue = chart.legend.fit;

                                                // overriding
                                                // With the bind() method, an object can borrow a method from another object.
                                                chart.legend.fit = function fit() {
                                                    fitValue.bind(chart.legend)();
                                                    return this.height += 45;
                                                }
                                            }
                                        }

                                        const myChart = new Chart(ctx, {
                                            type: 'bar',
                                            data: {
                                                labels: Object.keys(account_data).map(key => key.replaceAll('_', ' ')),
                                                datasets: [{
                                                    label: 'Investment Account',
                                                    data: Object.keys(account_data).map(key => account_data[key]),
                                                    minBarLength: 2,
                                                    maxBarThickness: 45,
                                                    backgroundColor: [
                                                        'rgba(54, 162, 235, 0.55)'
                                                    ],
                                                    borderColor: [
                                                        'rgb(54, 162, 235)'
                                                    ],
                                                    borderWidth: 3
                                                },
                                                    {
                                                        label: 'Rebalancing Template',
                                                        data: Object.keys(template_data).map(key => template_data[key].toFixed(2)),
                                                        minBarLength: 2,
                                                        maxBarThickness: 45,
                                                        backgroundColor: [
                                                            'rgba(215, 101, 139, 0.55)'
                                                        ],
                                                        borderColor: [
                                                            'rgba(215, 101, 139)'
                                                        ],
                                                        borderWidth: 3
                                                    }]
                                            },
                                            options: {
                                                maintainAspectRatio: false,
                                                plugins: {
                                                    title: {
                                                        display: false,
                                                        text: 'Comparison Between Actual and Target Account Allocation ' +
                                                            '(based on Asset Class)',
                                                        color: '#111',
                                                        font: {
                                                            size: 16,
                                                            weight: 'bold',
                                                            lineHeight: 1.2,
                                                        },
                                                    },
                                                    legend: {
                                                        display: true,
                                                        position: 'top',
                                                        align: 'middle',
                                                        labels: {
                                                            color: '#111',
                                                            font: {
                                                                size: 15,
                                                                weight: 'bold',
                                                                lineHeight: 1.2,
                                                            },
                                                        }
                                                    }
                                                },
                                                scales: {
                                                    x: {
                                                        ticks: {
                                                            font: {
                                                                size: 14,
                                                            },
                                                            color: '#111'
                                                        },
                                                        title: {
                                                            display: true,
                                                            text: 'Asset Class',
                                                            color: '#111',
                                                            font: {
                                                                size: 16,
                                                                weight: 'bold',

                                                                lineHeight: 1.2,
                                                            },
                                                            padding: {top: 20, left: 0, right: 0, bottom: 0}
                                                        }
                                                    },
                                                    y: {
                                                        ticks: {
                                                            font: {
                                                                size: 15,
                                                            },
                                                            color: '#111'
                                                        },
                                                        title: {
                                                            display: true,
                                                            text: 'Percent Allocation',
                                                            color: '#111',
                                                            font: {
                                                                size: 16,
                                                                weight: 'bold',
                                                                lineHeight: 1.2,
                                                            },
                                                            padding: {top: 0, left: 0, right: 20, bottom: 0}
                                                        }
                                                    }
                                                }
                                            },
                                            plugins: [legendMargin]
                                        });
                                    </script>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>