<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sidebar Button</title>
</head>
<body>
    <div th:fragment="sidebar-button" style="position: sticky; top: 75px; background-color: white;
     padding: 7px; margin-bottom: 0.5em; z-index: 1">
        <button class="btn btn-dark float-end ms-3" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasSupportedContent" aria-controls="offcanvas">
            <span class="fa fa-angle-double-right" style="font-size:24px"></span>
            <span></span>
        </button>
        <a href="#" th:href="@{'/dashboard'}" style="margin-bottom: 20px; text-decoration: none; color: cornflowerblue">
            <h4>DASHBOARD</h4>
        </a>
    </div>
</body>
</html>