<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/head :: header ('About')}">
</head>

<body>
<header class="border-bottom shadow">
    <nav th:replace="~{fragments/navigation :: navLayout ('about')}"></nav>
</header>

<div id="main" class="container-fluid">
    <div class="row justify-content-center">
            <div class="col min-vh-100 p-4" style="margin-top: 70px">
                <div class="card card-primary border-3 border-dark">

                    <div class="card-header bg-secondary text-light m-3">
                        <h6 class="card-title">About</h6>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h6 class="fw-bold">Investment Portfolio Rebalancing Tool</h6>
                                <div style="text-align: justify; text-justify: inter-word; font-size: 0.9em">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet, ante
                                        id vulputate finibus, neque odio tristique lorem, id mattis nunc nibh a nibh.
                                        Quisque porta in mauris in malesuada. Aenean a eleifend sem, ac eleifend ante.
                                        Phasellus sit amet pretium felis, a congue odio. Donec eget suscipit ipsum, a
                                        aliquet ex. Aliquam id ex fringilla, vestibulum quam sed, consectetur purus.
                                        Donec et erat ligula. Phasellus tempus lobortis ex, sed porta nisi pellentesque
                                        eget. Nam ac nibh semper, ullamcorper nisi in, consectetur orci. Fusce scelerisque
                                        convallis libero in molestie.
                                    </p>

                                    <p>
                                        Phasellus rhoncus malesuada odio, eu ornare justo congue porttitor. Praesent et
                                        fringilla metus. Nullam placerat odio vitae eros tempor, ac pharetra sem porttitor.
                                        Ut a metus suscipit, fringilla magna non, vestibulum diam. Aliquam dignissim,
                                        odio eu ullamcorper eleifend, lorem urna ultricies eros, in tristique nibh quam
                                        non odio. Suspendisse dapibus diam vel erat faucibus dapibus. Vestibulum nec ipsum
                                        et felis molestie vulputate et eget purus. Aenean a efficitur odio, vel sagittis
                                        libero. Vivamus a dolor ante. Etiam sit amet nibh nibh. Mauris fringilla urna nec
                                        fringilla lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et
                                        ultrices posuere cubilia curae;
                                    </p>

                                    <p>
                                        Nunc vitae felis non turpis fermentum ultricies sit amet non nibh. Ut id tincidunt
                                        odio. Nullam sit amet faucibus elit. Phasellus accumsan id nibh vitae tincidunt.
                                        Pellentesque at risus tellus. Nam dapibus ex sed porta mollis. Morbi consectetur
                                        auctor sollicitudin. Sed eu felis placerat, blandit ex a, feugiat ex. Nunc sed sem
                                        tincidunt urna mollis dapibus. Integer ut dolor in enim suscipit congue nec non
                                        massa. Cras dui neque, molestie non blandit non, imperdiet et mi. Proin ut enim
                                        nec neque tincidunt hendrerit et eget purus. Nullam at egestas tellus. Nulla ut
                                        quam lorem. Nam dignissim, tortor in vestibulum venenatis, ligula turpis tincidunt
                                        arcu, eget cursus est ex iaculis turpis. Nam semper, massa a rutrum accumsan, felis
                                        arcu tristique nisi, vel dapibus odio nulla quis leo.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<footer></footer>
</body>

</html>