<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/head :: header ('Dashboard')}">
</head>

<body>
<header class="border-bottom shadow">
    <nav th:replace="~{fragments/navigation :: navLayout ('dashboard')}"></nav>
</header>

<div class="sidebar" th:replace="~{fragments/sidebar :: sidebar}"></div>

<div id="main" class="container-fluid">
    <div class="row">
        <div class="col min-vh-100 p-4" style="margin-top: 70px">
            <div th:replace="~{fragments/sidebar_button :: sidebar-button}"></div>

            <div class="card card-primary border-3 border-dark mb-3">

                <div class="card-header bg-secondary text-light m-3">
                    <h6 class="card-title">Widgets</h6>
                </div>

                <div class="card-body">
                    <div class="row" style="overflow: auto;">
                        <div class="col-md" style="border: 2px solid #000000;
                        margin-bottom: 1em; padding: 7em; overflow: auto;">
                            WIDGET 1
                        </div>
                        <div class="col-md" style="border: 2px solid #000000;
                         margin-bottom: 1em; padding: 7em; overflow: auto;">
                            WIDGET 2
                        </div>
                        <div class="col-md" style="border: 2px solid #000000;
                        margin-bottom: 1em; padding: 7em; overflow: auto;">
                            WIDGET 3
                        </div>
                    </div>
                    <div class="row" style="overflow: auto;">
                        <div class="col-md" style="border: 2px solid #000000;
                         margin-bottom: 1em; padding: 7em; overflow: auto;">
                            WIDGET 4
                        </div>
                        <div class="col-md" style="border: 2px solid #000000;
                         margin-bottom: 1em; padding: 7em; overflow: auto;">
                            WIDGET 5
                        </div>
                        <div class="col-md" style="border: 2px solid #000000;
                        margin-bottom: 1em; padding: 7em; overflow: auto;">
                            WIDGET 6
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer></footer>
</body>

</html>